.place__paragraf {
    padding: 0;
    margin: 26px 0 0 0;
}

@media screen and (max-width: 1023px) {
    .place__paragraf {
        margin-top: 25px;
    }
}


@media all and (max-width: 767px) {
    .place__paragraf {
        grid-column: 1;
        grid-row: 5;
        margin-top: 25px;
        max-width: 283px;
    }
}