.place__image_point_altai {
    background-image: url(../../../../images/altai-tablet.jpg);
}

@media screen and (max-width: 1279px) {
    .place__image_point_altai {
        background-image: url(../../../../images/altai-middle.jpg);
    }

}

@media screen and (max-width: 1023px) {
    .place__image_point_altai {
        background-image: url(../../../../images/altai-tablet.jpg);
    }

}

@media all and (max-width: 767px) {
    .place__image_point_altai {
        background-image: url(../../../../images/altai-mobile.jpg);
    }
}