.place {
    list-style-type: none;
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: minmax(12px, max-content) 22px minmax(min-content, max-content) minmax(min-content, max-content);
    grid-template-areas:
    "place__title place__url"
    "place__title place__link"
    "place__image place__paragraf-cover";
    margin-bottom: 95px;
    justify-content: start;
    flex-direction: column;
    column-gap: 40px;
}

@media screen and (max-width: 1279px) {
    .place {
        grid-template-columns: 440px 450px;
        column-gap: 32px;
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        grid-template-columns: 320px 348px;
        column-gap: 45px;
        margin-bottom: 73px;
    }
}

@media all and (max-width: 767px) {
    .place {
        grid-template-columns: 320px;
        grid-template-rows: repeat(5, minmax(min-content, max-content));
        column-gap: 0;
        margin-bottom: 49px;
    }
}